<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
       <listener class-name="org.twozo.listeners.Listeners"></listener>
    </listeners>
    <test name="SampleTest">
        <classes>
            <class name="org.twozo.page.SignInTest">
                <methods>
                    <include name="signInAsValidUser"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>